<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Xeko</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
  </head>
  <body style="text-align: center;">
	
	<div class="card-wrapper">
		<div class="card-content">
			<div class="card-name">
				Name
			</div>
			<div class="card-eco">
				Eco-points
			</div>	
			<div class="card-energy">
				Energy
			</div>	
			<div class="card-image"></div>			
			<div class="card-text">
				Card text
			</div>	
			<div class="card-trophic">
				Trophic level
			</div>
			<div class="card-type">
				<!-- for now, replace with species identifier eg. Insect if a species card -->
				Species/Boost/Xeko
			</div>
			<!-- ignore flavor for now -->
		</div>
	</div>

  </body>
  <script src="../js/deckMadagascar.js"></script>
  <script src="./js/cardLoader.js"></script>
</html>